<div class="col-xs-8 col-xs-offset-1 about">
	<h1>About Splurty</h1>
<p>
	This app is meant to make you laugh. I hope you can find something entertaining on this small project or add a quote of your own.
</p>

</div>

<div class="col-xs-3 col-sm-4 col-xs-offset-1">
	<%= image_tag 'fj.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-4 about_fahad">
	<h2> Fahad</h2>
<p>
	I am like the majority of people and I enjoy laughing. I also really enjoy hearing other people say funny things whether they meant to or not. I enjoy most kinds of humor, and especially the silly kind.
</p>

</div>

<br class="clear">
</br>
</br>
</br>
